{% extends "base.html" %}

{% block content %}
<div class="my-3 d-flex align-items-center justify-content-center">
    <div class="card">
        <div class="card-body">
            Please log in to enter the site:
            <br>
            <br>
            <div style="color:red;">
                {{errorMessage}}
            </div>
            <form action='/login', method="POST">
                Username:
                <br>
                <input type = 'text' name = 'username' >
                <br>
                <br>
                Password:
                <br>
                <input type = 'password' name = 'password' >
                <br>
                <br>
                <input type = 'submit' name = 'sub1'>
                <br>
                <br>
            </form>
            <br>
            New to the site? Register here.
            <br>
            <a href= {{ url_for('register') }} class="btn btn-primary" role="button" aria-pressed="true">Register</a>
        </div>
    </div>
</div>
{% endblock %}
