{% extends "base.html" %}

{% block content %}
<div class="my-3 d-flex align-items-center justify-content-center">
    <div class="card">
        <div class="card-body">
            Please log in to enter the site:
            <br>
            <br>
            <div style="color:red; font-style:italic;">
                {{errorMessage}}
            </div>
            <form action='/login', method="POST">
                Username:
                <br>
                <input type='text' name='username' class="form-control" placeholder="Username">
                <br>
                Password:
                <br>
                <input type='password' name='password' class="form-control" placeholder="Password">
                <br>
                <input type = 'submit' name = 'sub1'>
                <br>
                <br>
            </form>
            <br>
            New to the site? Register here.
            <br>
            <a href= {{ url_for('register_get') }} class="btn btn-primary" role="button" aria-pressed="true">Register</a>
        </div>
    </div>
</div>
{% endblock %}
