{% extends "base.html" %}

{% block logout %}
<ul class="nav navbar-nav">
    <li class="nav-item">
        <a href= {{ url_for('logout') }} class="btn btn-outline-danger navbar-btn" role="button" aria-pressed="true">Log Out</a>
    </li>
</ul>
{% endblock %}

{% block content %}
<div class="w-100 p-4" style="border-radius: 10px;">
    <div class="card">
        <div class="card-body">
            <h1 class="page-header">Welcome {{ session.name}}! </h1>
            <h3 class="font-weight-light font-italic text-secondary">{{motivational_quote}}</h3>
        </div>
    </div>

    <br>

    <div class="card">
        <div class="card-body">
            <h2 class="page-header">Todo: </h2>
            <div id="todo-list">

            </div>
        </div>
    </div>

    <ul id="draggablePanelList" class="list-unstyled">
    <li class="panel panel-info">
        <div class="panel-heading">You can drag this panel.</div>
        <div class="panel-body">Content ...</div>
    </li>
    <li class="panel panel-info">
        <div class="panel-heading">You can drag this panel too.</div>
        <div class="panel-body">Content ...</div>
    </li>
</ul>
<script type="text/javascript">
  jQuery(function($) {
    var panelList = $('#draggablePanelList');

    panelList.sortable({
        // Only make the .panel-heading child elements support dragging.
        // Omit this to make then entire <li>...</li> draggable.
        handle: '.panel-heading',
        update: function() {
            $('.panel', panelList).each(function(index, elem) {
                 var $listItem = $(elem),
                     newIndex = $listItem.index();

                 // Persist the new indices.
            });
        }
    });
});
</script>


{% endblock %}
