{% extends "base.html" %}

{% block logout %}
<ul class="nav navbar-nav">
    <li class="nav-item">
        <a href= {{ url_for('logout') }} class="btn btn-outline-danger navbar-btn" role="button" aria-pressed="true">Log Out</a>
    </li>
</ul>
{% endblock %}

{% block content %}
<div class="w-100 p-4" style="border-radius: 10px;">
    <div class="card">
        <div class="card-body">
            <h1 class="page-header">Welcome {{ session.name}}! </h1>
            <h3 class="font-weight-light font-italic text-secondary">{{motivational_quote}}</h3>
        </div>
    </div>

    <br>

  <div class="card">
      <div class="card-body">
          <h2 class="page-header">Todos: </h2>
      </div>
  </div>

  <br>◯

  <div id="todolist">
      <div class="card">
          <div class="card-body">
              <h2 class="page-header">Homework</h2>
              <hr>
              <div class="row">
                  <div class="col col-sm-8">
                      <input type="text" class="form-control input-lg col-xs-1 shadow-none" style="border: none; font-size: 18px;" id="inputlg"></input>
                  </div>
                  <div class="col col-sm-1">
                      <div class="form-check">
                          <input type="checkbox" class="form-check-input big-checkbox" id="exampleCheck1">
                      </div>
                  </div>
                  <div class="col col-sm-3"></div>
              </div>
          </div>
      </div>
  </div>
</div>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous"></script>
     <script src="https://code.jquery.com/jquery-2.2.0.js"></script>
   <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
</head>
 </body>
<div class="container">
 <ul id="draggablePanelList" class="list-unstyled">
     <li class="panel panel-info">
         <div class="panel-heading">You can drag this panel.</div>
         <div class="panel-body">Content here ...</div>
     </li>
     <li class="panel panel-info">
         <div class="panel-heading">You can drag this panel too.</div>
         <div class="panel-body">More content here...</div>
     </li>
     <li class="panel panel-info">
         <div class="panel-heading">You can drag this panel too.</div>
         <div class="panel-body">More blah content here...</div>
     </li>
     <li class="panel panel-info">
         <div class="panel-heading">You can drag this panel too.</div>
         <div class="panel-body">Another content panel here...</div>
     </li>
 </ul>
<div class="row">
 <div class="col-xs-2">
 <div id="draggablePanelList2" class="">
     <div class="panel panel-default">
         <div class="panel-heading">You cand drag this panel.</div>
         <div class="panel-body">Content hedfsre ...</div>
     </div>
     <div class="panel panel-danger">
         <div class="panel-heading">You canfd drag this panel.</div>
         <div class="panel-body">Content hdsfere ...</div>
     </div>
 </div>
   </div><!--end col-->
 </div><!--end row-->
</div>
 </body>
<script type="text/javascript">
  jQuery(function($) {
        var panelList = $('#draggablePanelList');

        panelList.sortable({
            // Only make the .panel-heading child elements support dragging.
            // Omit this to make then entire <li>...</li> draggable.
            handle: '.panel-heading',
            update: function() {
                $('.panel', panelList).each(function(index, elem) {
                     var $listItem = $(elem),
                         newIndex = $listItem.index();

                     // Persist the new indices.
                });
            }
        });
    });

    jQuery(function($) {
        var panelList2 = $('#draggablePanelList2');

        panelList2.sortable({
            // Only make the .panel-heading child elements support dragging.
            // Omit this to make then entire <li>...</li> draggable.
            handle: '.panel-heading',
            update: function() {
                $('.panel', panelList2).each(function(index, elem) {
                     var $listItem = $(elem),
                         newIndex = $listItem.index();

                     // Persist the new indices.
                });
            }
        });
    });
</script>

{% endblock %}
