body {
    background-image: url('../images/hotel.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Source Sans Pro', sans-serif;
}

input {
    border-radius: 5px;
}
