body {
    font-family: 'Source Sans Pro', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-color: #343a40;
    background-repeat: no-repeat;
}

.title-input {
  color: #000000;
}

.todo-input {
  color: #222222;
}
